.rollingbanner, .rollingbanner2{
    position: relative;
    width: 40em;
    height: 32px;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 7px 15px;
    box-sizing: border-box;
    border: 2px solid #0a1035;
    border-right: none;
    border-left: none;
    /* border-radius: 16px; */
}
/* 타이틀 */
.rollingbanner, .rollingbanner2 > .title{
    font-weight: bold;
    float: left;
    padding-right: 10px;
}
/* 롤링 배너 */
.rollingbanner > .wrap{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}        
.rolling ul{
    list-style: none;
}

.rollingbanner li{
    position: absolute;
    top: -36px;
    left: 48px;
    /* line-height: ; */
}

/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev{
    top: 36px;
    transition: top 0.5s ease;
}
.rollingbanner li.current{
    top: 0;
    transition: top 0.5s ease;
}
.rollingbanner li.next, .rollingbanner2 li.next{
    top: -36px;
}
.rollingbanner a{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}

.rollingbanner.reverse li.prev
{
    top: -36px;
    transition: top 0.5s ease;
}

.rollingbanner.reverse li.next
{
    top: 36px;
}

